
p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin: 1rem;
    background-color: #f7faf3cb;
    border: rgb(41, 197, 80);
}

h2 {
    button{
        padding: 1rem 2rem;
        margin: 1rem;
        background-color: rgb(134, 240, 124);
        color: white;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
    }
}