body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(247, 242, 235, 0.938);
}
.calculator{
    background-color: rgb(246, 255, 255);
    border-radius: 1rem;
    box-shadow: 0 0 10px; rgba(0,0,0,0.1);
    padding: 1rem;
    text-align: center;
    font-size: large;
}
input{
    width: 3rem;
    padding: 1.5rem;
    margin: 1.5rem;
}
select{
    margin: 1rem;
    padding: 1rem;
}
button{
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: rgb(99, 60, 241);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}